[Unit]
Description=Backup Status

[Service]
LimitNOFILE=4096
LimitNPROC=4096
ExecStart=/opt/backup/bin/backup_status_server -port=7777 -rootdir=/rsync -logtostderr -v=2

Restart=on-failure

[Install]
WantedBy=multi-user.target
